[Unit]
Description=PepePow Electrumx
After=network.target network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/electrumx.conf
ExecStart=/root/electrumx-ravencoin/electrumx/electrumx_server
User=root
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
